.container {
    margin-left: 25px;
    margin-top: 25px;
    height: 200px;
}

#position {
    position: relative;
}

.big-circle {
    border-radius: 50%;
    background-color: #a5a5a5;
    height: 200px;
    width: 200px;
}

.middle-circle {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}

.middle-circle-position {
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

.circle-position {
    position: absolute;
}

.circle-position:nth-child(3) {
    bottom: -25px; left: 75px;
}
.circle-position:nth-child(4) {
    bottom: 175px; left: 75px;
}
.circle-position:nth-child(5) {
    bottom: 75px; left: -25px;
}
.circle-position:nth-child(6) {
    bottom: 75px; left: 175px;
}
.circle-position:nth-child(7) {
    bottom: 150px;
}
.circle-position:nth-child(8) {
    bottom: 150px; left: 150px;
}
.circle-position:nth-child(9) {
    bottom: 0px;
}
.circle-position:nth-child(10) {
    left: 150px; bottom: 0px;
}

.middle-circle-translate {
    transform: translate(60px, -140px);
}

.circle-transform:nth-child(3) {
    transform: translate(75px, -105px);
}

.circle-transform:nth-child(4) {
    transform: translate(75px, -355px);
}

.circle-transform:nth-child(5) {
    transform: translate(-25px, -305px);
}

.circle-transform:nth-child(6) {
    transform: translate(175px, -355px);
}

.circle-transform:nth-child(7) {
    transform: translate(0px, -480px);
}

.circle-transform:nth-child(8) {
    transform: translate(0px, -380px);
}

.circle-transform:nth-child(9) {
    transform: translate(150px, -580px);
}

.circle-transform:nth-child(10) {
    transform: translate(150px, -480px);
}